<h1>Create User</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= bootstrap_form_for(@user) do |f| %>
      <%= f.text_field :name %>
      <%= f.email_field :email %>
      <%= f.text_field :address %>
      <%= f.text_field :phone_number %>
      <%= f.radio_button :gender, 'male' %>
      <%= f.radio_button :gender, 'female' %>
      <%= f.radio_button :gender, 'unknown' %>
      <%= f.hidden_field :comments_count, value: 0 %>
      <%= f.submit "Create a user", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
