<% if @user %>
  <h1><%= @user.name %></h1>
  <p>
    Acounnt: <%= @user.name %>
  </p>
  <p>
    Email: <%= @user.email %>
  </p>
  <p>
    Address: <%= @user.address %>
  </p>
  <p>
    Gender: <%= @user.gender %>
  </p>
  <p>
    Phone Number: <%= @user.phone_number %>
  </p>
  <p>
    Team: Team
  </p>
  <% leaders = @user.leaders%>
  <p>
    Leader: <%= @user.leaders.any? ? leaders.pluck(:name).join(', ') : 'Empty' %>
  </p>
  <p>
    debugger
    Posts: <%= @user.posts.size %>. <%= link_to 'See Posts', user_posts_path(@user) %>
  </p>
  <%= link_to "Update", edit_user_path(@user) %>
<% else %>
  <h1>Some thing wrong</h1>
<% end %>
