<% if @post %>
  <h1><%= @post.user.name %></h1>
  <p>
    Title: <%= @post.title %>
  </p>
  <p>
    Content: <%= @post.content %>
  </p>
  <p>
    Last update: <%= ((Time.now - @post.updated_at) / 60).to_i %> phut truoc
  </p>
  <h3>Comments(<%= @post.comments_count %>)</h3>
  <% if @post.comments_count > 0%>
    <% @post.comments.each do |comment| %>
      <p><%= link_to comment.user.name, user_path(comment.user) %>: <%= comment.content %>
          <% if current_user && comment.user_id == current_user.id %> 
            <%= link_to "Update", edit_comment_path(comment)%>, <%= link_to 'Delete', comment, method: :delete,
                                     data: { confirm: "Are you sure?" } %> 
          <% end %>
      </p>
    <% end %>
  <% end %>
  <h3>Write comment</h3>
  <% if logged_in?%>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= bootstrap_form_for(@comment) do |f| %>
          <%= f.text_field :content %>
          <%= f.hidden_field :user_id,value: current_user.id  %>
          <%= f.hidden_field :post_id,value: @post.id  %>
          <%= f.submit "send", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  <% else %>
    you must <%= link_to "Login", login_path %> to write a comment.
  <% end %>
<% else %>
  <h1>Some thing wrong</h1>
<% end %>
