<% if @post %>
  <div class="post-detail">
    <h1>
      Title: <%= @post.title %>
    </h1>
    <p class="content">
      Content: <%= @post.content %>
    </p>
    <p><%= @post.user.name %></p>
    <p>
      Last update: <%= ((Time.now - @post.updated_at) / 60).to_i %> phut truoc
    </p>
  </div>
  <div id="comments", class="list-comments">
    <h3 id="comment-count">Comments(<%= @post.comments_count %>)</h3>
    <% if @post.comments_count > 0%>
      <% @post.comments.each do |comment| %>
        <p><%= link_to comment.user.name, user_path(comment.user) %>: <%= comment.content %>
            <% if current_user && comment.user_id == current_user.id %> 
              <%= link_to "Update", edit_comment_path(comment)%>, <%= link_to 'Delete', comment, method: :delete,
                                      data: { confirm: "Are you sure?" } %> 
            <% end %>
        </p>
      <% end %>
    <% end %>
  </div>
  <h3>Write comment</h3>
  <% if logged_in?%>
    <div class="row", id="create-comment", data-user="<%= current_user.id %>", data-post="<%= @post.id%>">
      <input type="text", id="text" />
      <input type="button", id="btn" value="Send">
    </div>
  <% else %>
    you must <%= link_to "Login", login_path %> to write a comment.
  <% end %>
<% else %>
  <%= render 'layouts/error' %>
<% end %>
